.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 36px 0 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 129px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 129px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 122px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 883px;
}

.u-section-2 .u-image-1 {
  width: 990px;
  height: 783px;
  margin: 56px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  align-self: center;
  margin: -707px auto 0 668px;
  padding: 47px 85px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto 60px 668px;
  padding: 84px 83px 85px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 743px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -670px;
    margin-left: 565px;
    padding: 48px 79px 49px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 149px;
    margin-left: 468px;
    padding: 74px 77px 75px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 569px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -514px;
    margin-left: 431px;
    padding: 29px 51px 30px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 118px;
    margin-left: 248px;
    padding: 52px 49px 53px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 427px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -386px;
    margin-left: 324px;
    padding: 14px 32px 15px 31px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 84px;
    margin-left: 68px;
    padding: 33px 30px 33px 29px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-2 .u-image-1 {
    height: 346px;
    width: 440px;
    margin-top: 30px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -312px;
    margin-left: 213px;
    padding: 16px 29px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.625rem;
    margin-right: auto;
    margin-left: 213px;
    padding: 28px 28px 29px;
  }
}